.bodyList {
    display: flex;
    flex-direction: column;
    background: #ccc;
    width: 100%;
    height: auto;
}

.bodyList h2 {
    display: flex;
    justify-content: center;
    color: #8468E8;
    font-size: 2em;
    margin-bottom: 50px;
}

.usersList {
    background: #919191;
    width: auto;
    margin: 20px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #8468E8;
    padding-bottom: 30px;
    font-size: 1.5em;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
}



.list .user {
    border: 1px solid black;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    height: auto;
    margin: 0px 30px 30px 0px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.buttons .btnUpdate {
    background: #008f3b;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 70px;
    margin: 20px 0 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}


.buttons .btnUpdate:hover {
    background: #00682b;
}

.buttons .btnUpdate:active {
    background: #003f1a;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.384);
}

.list .user img {
    background: #ccc;
    padding: 10px;
    width: 250px;
    height: 200px;
}

.list .user .btnDeleted {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fc3333;
    color: #fff;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 70px;
    margin: 20px 0 20px 30px;
    cursor: pointer;
}

.list .user .btnDeleted:hover {
    background: #fc1919;
}

.list .user .btnDeleted:active {
    background: #5a0000;
    border: 1px solid #ff2727;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.384);
}


@media (max-width: 665px) {
    .list .user {
        display: flex;
        flex-direction: column;
    }
    .list .user hr {
        width: 100%;
    }
    .list .user img {
        align-self: center;
    }
}